#navbar{
    margin-top: 25px;
    padding: 0px 10px;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    object-fit: cover;
}

h1{
    font-weight: 300;
    font-size: 80px;
    margin-bottom: 250px;
    color: #fff;
}

ul{
    color: #fff;
}

.content{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-allign: center;
}